body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-background {
  background-image: linear-gradient(to top right, #270612, #00192c);
  background-attachment: fixed; /* Keeps the background fixed during scroll */
  background-size: cover; /* Ensures the background covers the entire viewport */
  background-position: center; /* Centers the background image */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
  padding: 50px;
  margin: 0 75px;
  color: whitesmoke;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

